/**
 * input-error.css
 * (c) Andreas Mueller <webmaster@am-wd.de>
 */

/**
 * Some user might have a problem to recognize which input field has an error.
 * This class adds a pulsing border in a nice red color.
 *
 * @author     Andreas Mueller <webmaster@am-wd.de>
 * @copyright  (c) 2016 Andreas Mueller
 * @license    MIT - http://am-wd.de/index.php?p=about#license
 */

input.error,
textarea.error {
	border-color: #c00;
	background-color: #fdd;
	box-shadow: 0 0 2px 1px #c00;
	animation: pulse-red 1.5s ease-in-out .3s infinite alternate;
}

input:focus.error,
textarea:focus.error {
	border-color: #fc3;
	background-color: #fff;
	box-shadow: 0 0 2px 1px #fc3;
	animation: none;
}

@keyframes pulse-red {
	from {
		box-shadow: 0 0 5px 1px rgba(255, 0, 0, 1);
	}
	to {
		box-shadow: 0 0 3px 1px rgba(255, 0, 0, .3);
	}
}